<p>Product List</p>
<nav class="navbar navbar-inverse">
    <app-menu></app-menu>
</nav>
<a routerLink="/products/create">Create</a> |
<input [(ngModel)]="searchCriteria" type="text" placeholder="Search">
<div class = "component">
    <table class = "table table-sm">
        <tr>
            <th>Id</th>
            <th>PartNbr</th>
            <th>Name</th>
            <th>Price</th>
            <th>Unit</th>
            <th>PhotoPath</th>
            <th>VendorName</th>
            <th>Actions</th>
        </tr>
        <tr *ngFor="let p of products | productSearch :searchCriteria | sort: 'id'">
            <td>{{p.id}}</td>
            <td>{{p.partNbr}}</td>
            <td>{{p.name}}</td>
            <td>{{p.price}}</td>
            <td>{{p.unit}}</td>
            <td>{{p.photoPath}}</td>
            <td *ngIf="p.vendor">{{p.vendor.name}}</td>
            <td>
                <a routerLink="/products/detail/{{p.id}}">Detail</a> |
                <a routerLink="/products/edit/{{p.id}}">Edit</a>
            </td>


        </tr>

        
    </table>
</div>
