<nav call="navbar navbar-inverse">
    <app-menu></app-menu>
</nav>

<a routerLink="/users/create">Create</a>
<input [(ngModel)]="searchCriteria" type="text" placeholder="Search">
<div call = "component">
    <table class="table table-sm">
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Password</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Phone</th>
            <th>Email</th>
            <th>IsReviewer</th>
            <th>IsAdmin</th>
        </tr>
        <tr *ngFor="let u of users | userSearch:searchCriteria | sort:'id'">
            <td>{{u.id}}</td>
            <td>{{u.username}}</td>
            <td>{{u.password}}</td>
            <td>{{u.firstname}}</td>
            <td>{{u.lastname}}</td>
            <td>{{u.phone}}</td>
            <td>{{u.email}}</td>
            <td>{{u.IsReviewer}}</td>
            <td>{{u.isAdmin}}</td>
            <td>
                <a routerLink="/users/detail/{{u.id}}">Detail</a> |
                <a routerLink="/users/edit/{{u.id}}">Edit</a> 
            </td>
        </tr>
    </table>
</div>
