<p>Request Line Detail/p>

<nav class="navbar navbar-inverse">
    <app-menu></app-menu>
</nav>

<a routerLink="/requestlines/create">Create</a> |
<input [(ngModel)]="searchCriteria" type="text" placeholder="Search">
<div class ="component">
    <table class="table table-sm">
        <tr>
            <th>Id</th>
            <th>RequestId</th>
            <th>ProductId</th>
            <th>Quantity</th>
            <th>Actions</th>
        </tr>
        <tr *ngFor="let rl of request.requestlines |  sort:'id'">
            <td>{{rl.product.name}}</td>
            <td>{{rl.quantity}}</td>
            <td>{{rl.product.price}}</td>
            <td>{{rl.product.product*line.quantity | currency}}</td>
            <td>
                <a routerLink="/requestlines/detail/{{rl.id}}">Detail</a> |
                <a routerLink="/requestlines/edit/{{rl.id}}">Edit</a>

            </td>

        </tr>
        
    </table>
</div>
