<p>Request Line Detail/p>
<app-menu></app-menu>
<div class= "component">

    <table call="table table-striped table-sm">
        <tr>
            <th>Id</th>
            <td>
                <input [(ngModel)]="requestLine.id" type ="number" size = "10"disabled>
            </td>
            
        </tr>
        <tr>
            <th>RequestId</th>
            <td>
                <input [(ngModel)]="requestLine.requestId" type ="number" size = "10"disabled>
            </td>
        </tr>
        <tr>
            <th>ProductId</th>
            <td>
                <input [(ngModel)]="requestLine.productId" type ="number" size = "10"disabled>
            </td>
        </tr>
        <tr>
            <th>Quantity</th>
            <td>
                <input [(ngModel)]="requestLine.quantity" type ="number" size = "10"disabled>
            </td>
        </tr>
        <td colspan="2">
            <button (click)="delete()" class= "btn btn-warning">Delete</button>
        </td>
    </table>
</div>