<p>Request Line Delete</p>
<div class ="component">
    <table class="table table-sm"*ngIf="requestLine">
        <tr>
            
            <th>Product</th>
            <td>
                <input [ngModel]="requestLine.productId" type= "text" size= 10 disabled>
            </td> 
           
        </tr>
        <tr >
            <th>Quantity</th>
           
            <td>
                <input [(ngModel)]="requestLine.quantity" type= "number" size =10 disabled>
            </td>
           
            <td colspan="2">
                <button (click) ="delete()" class= "btn btn-danger">Delete</button>
            </td>
            

        </tr>
        
    </table>
</div>



